<%- include('partials/head') %>
    
    <% if (produto === 'produto1') {%>
        <h1 class="titulo"><%=produtos.produto1%></h1> 
        <img class="imagem" id="image1" src="/images/bike2.jpg" alt=""
        onMouseover="this.src= '/images/bike2-2.jpg' "
onMouseout="this.src= '/images/bike2.jpg'  ">
        <%- include('partials/bike1') %>

    <% } else if (produto === 'produto2') {%>
        <h1 class="titulo"><%=produtos.produto2%></h1> 
        <img class="imagem"  id="image2" src="/images/bike-rosa.jpg" alt=""
        onMouseover="this.src= '/images/bike-rosa2.jpg' "
        onMouseout="this.src= '/images/bike-rosa.jpg'  ">
        <%- include('partials/bike2') %>

    <%} else { %>
        <h1 class="titulo"><%=produtos.produto3%></h1> 
        <img  class="imagem" id="image3"
        src="/images/bike-preta.jpg" alt=""
        onMouseover="this.src= '/images/bike-preta2.jpg' "
        onMouseout="this.src= '/images/bike-preta.jpg'  ">
        <%- include('partials/bike3') %>
        
    <% } %>
    
    <%- include('partials/footer') %>
</body>

</html>